<h1>BRAGA E MERDA</h1>

<div style="margin-top: 10%;margin-left: 20%">
    <form name="productForm" [formGroup]="productForm">
        <div>
            <mat-radio-group required formControlName="tel" style="max-width: 50%;margin-bottom: 5%">
                <mat-label>Tem aro?</mat-label>
                <div class="mt-8 mb-8">
                    <mat-radio-button value="Sim">Sim</mat-radio-button>
                    <mat-radio-button class="ml-12" value="Nao">Não
                    </mat-radio-button>
                </div>
            </mat-radio-group>
        </div>
        <div>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label>Qual o tipo de aro?</mat-label>
                <input formControlName="tipoAro"
                       readonly>
                <mat-select name="metodos">
                    <mat-option *ngFor="let tipo of tiposAro" (click)="handleGenero(tipo)">
                        {{tipo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>

            <mat-form-field matNativeControl appearance="outline" floatLabel="always" class="left w-30-p">
                <mat-label>Cilindro</mat-label>
                <input type="number" step="0.25" matInput matNativeControl formControlName="x" placeholder="Input">

            </mat-form-field>
        </div>
        <div>
            <mat-form-field matNativeControl appearance="outline" floatLabel="always" class="left w-30-p">
                <mat-label>Esfera</mat-label>
                <input type="number" step="0.25" matInput matNativeControl formControlName="y" placeholder="Input">

            </mat-form-field>
        </div>


        <button mat-raised-button variant="contained" color="primary"
                (click)="saveProposal()">
            <span>GUARDAR</span>
        </button>


    </form>
</div>
